html{
    scroll-behavior:smooth
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    margin: 0px;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
}

.onboarding-wrap {
}

.onboarding-wrap .grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

.onboarding-wrap .grid2 .col {}

.onboarding-wrap .grid2 .onbarding-editing {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(23, 25, 28);
}

.onboarding-wrap .grid2 .onboarding-view {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #009ef7;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-scroll {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step {
    width: 450px;
    margin: auto;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .logo-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .logo-wrap .heading-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .logo-wrap .fields-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .logo-wrap span {
    display: block;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: 600;
    margin: 0px 0px 30px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .heading-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .heading-wrap span {
    text-align: center;
    display: block;
    color: white;
    font-size: 40px;
    font-weight: 900;
    line-height: 1;
    width: 60%;
    margin: 0px auto 30px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .field {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .field .label-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .field .input-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap  .button-wrap {}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .field .label-wrap label {
    color: rgb(255 255 255 / 60%);
    display: block;
    margin: 0px 0px 10px;
    font-size: 15px;
    font-weight: 300;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .field .input-wrap input {
    width: 100%;
    height: 46px;
    background-color: #1b1f22;
    border: 1px solid #2d2f33;
    border-radius: 14px;
    padding: 0px 12px;
    color: white;
    font-size: 14px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .button-wrap button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 14px 0px;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: #009ef7;
    color: white;
    border: 2px solid #009ef7;
    border-radius: 8px;
    cursor: pointer;
    margin: 16px 0px 0px;
}

ul.splide__pagination {bottom: 30px;}

ul.splide__pagination .splide__pagination__page {
    height: 8px;
    width: 36px;
    border-radius: 10px;
    background-color: #2d2f34;
    cursor: context-menu;
    position: relative;
}

ul.splide__pagination .splide__pagination__page.is-active {
    transform: unset;
    background-color: #009ef7;
}

ul.splide__pagination li {
    position: relative;
}

ul.splide__pagination li::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}
.splide__arrow {
    display: none;
}
.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .button-wrap button:hover {
    background-color: transparent;
    color: #009ef7;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .rs-user-photo-wrapper {
    text-align: center;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .field .input-wrap input[type="file"] {
    display: none;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .rs-user-photo-wrapper .userImage-sm-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px;
    overflow: hidden;
    background-color: #25282d;
    border: 1px solid #2d2f33;
    border-radius: 26px;
    padding: 12px;
    width: 70px;
    height: 70px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .rs-user-photo-wrapper .userImage-sm-wrap img {
    width: 100%;
    height: 100%;
}
.onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .rs-user-photo-wrapper .userImage-sm-wrap:hover {
    background-color: #1a1c1f;
}

.onboarding-wrap .grid2 .onboarding-view .view-box {
    position: relative;
    width: 350px;
    min-height: 200px;
    background-color: white;
    border-radius: 30px;
}

.onboarding-wrap .grid2 .onboarding-view .view-box .userImage-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 0px;
    overflow: hidden;
    background-color: #25282d;
    border: 1px solid #2d2f33;
    border-radius: 26px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
    transition: .2s ease-in-out;
    cursor: pointer;
    transform: translateY(-50px);
}

.onboarding-wrap .grid2 .onboarding-view .view-box .userImage-wrap img {
    width: 80px;
    height: 80px;
}

.onboarding-wrap .grid2 .onboarding-view .view-box .userName-wrap {
    margin: -30px 0px 0px;
}

.onboarding-wrap .grid2 .onboarding-view .view-box .dissertationUseFor-wrap {
    margin: 16px 0px 0px;
}
.onboarding-wrap .grid2 .onboarding-view .view-box .dissertationUseFor-wrap .rs-capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfd4d8;
    width: 60px;
    height: 20px;
    margin: 0px auto 0px;
    border-radius: 100px;
}

.onboarding-wrap .grid2 .onboarding-view .view-box .userName-wrap .rs-capsule {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfd4d8;
    width: 60px;
    height: 20px;
    margin: 0px auto 0px;
    border-radius: 100px;
}

.onboarding-wrap .grid2 .onboarding-view .view-box .userName-wrap .rs-name {
    display: block;
    background-color: white;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    color: #17191c;
}
.onboarding-wrap .grid2 .onboarding-view .view-box .dissertationUseFor-wrap .rs-hide {
    display: none;
}
.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .fields-wrap .field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .fields-wrap .field .label-wrap {
    display: flex;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .fields-wrap .field .label-wrap label {
    margin: -1px 0px 0px;
    color: white;
    font-size: 16px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .fields-wrap .field .input-wrap {
    display: flex;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .fields-wrap .field .input-wrap input {
    width: 18px;
    height: 18px;
}
.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .fields-wrap .field {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: transparent;
}
.onboarding-wrap .grid2 .onbarding-editing .onboarding-step2 .heading-wrap span {
    width: 100%;
}
.onboarding-wrap .grid2 .onboarding-view .view-box .dissertationUseFor-wrap .rs-reason-for-use {
    display: block;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #707377;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step3 .heading-wrap span {
    width: 100%;
    margin: 150px 0px 0px;
}

.onboarding-wrap .grid2 .onbarding-editing .onboarding-step3 .fields-wrap .button-wrap button {
    margin: 50px 0px 0px;
}

/*  media query  */

@media (max-width: 1366px) {
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .logo-wrap span {
        font-size: 25px;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .heading-wrap span {
        font-size: 30px;
        width: 100%;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .button-wrap button svg {
        height: auto;
        width: 17px;
    }
    .onboarding-wrap .grid2 .onboarding-view .view-box .userImage-wrap img {
        width: 70px;
        height: 70px;
    }
    .onboarding-wrap .grid2 .onboarding-view .view-box .userName-wrap .rs-name {
        font-size: 24px;
    }
    .onboarding-wrap .grid2 .onboarding-view .view-box .dissertationUseFor-wrap .rs-reason-for-use {
        font-size: 17px;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step3 .heading-wrap span {
        width: 100%;
        margin: 100px 0px 0px;
    }
}

@media (max-width: 1024px) {
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step {
        width: 90%;
        margin: auto;
    }
    .onboarding-wrap .grid2 .onboarding-view .view-box {
        width: 340px;
        min-height: 180px;
        border-radius: 25px;
    }
    .onboarding-wrap .grid2 .onboarding-view .view-box .userImage-wrap img {
        width: 60px;
        height: 60px;
    }
    .onboarding-wrap .grid2 .onboarding-view {
        padding: 0px 20px;
    }
}

@media (max-width: 568px) {
    .onboarding-wrap .grid2 {
        grid-template-columns: 100%;
    }
    .onboarding-wrap .grid2 .col:nth-child(2) {
        display: none;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .rs-user-photo-wrapper .userImage-sm-wrap {
        padding: 0px;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .heading-wrap span {
        font-size: 25px;
        font-weight: 600;
        width: 100%;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .button-wrap button {
        padding: 13px 0px;
        font-size: 15px;
        gap: 4px;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap .button-wrap button svg {
        height: auto;
        width: 16px;
    }
    .onboarding-wrap .grid2 .onbarding-editing .onboarding-step .fields-wrap {
        gap: 4px;
    }
}