html{
    scroll-behavior:smooth
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
body {
    margin: 0px;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
}
.rs-workspace-wrap {}

.rs-workspace-wrap .rs-grid2 {
    display: grid;
    grid-template-columns: 325px auto;
    min-height: 100vh;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar {
    display: grid;
    grid-template-columns: 68px auto;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-iconbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ebebec;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar {
    background-color: #ebebec;
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 26px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-iconbar .rs-menu-wrap {
    padding: 20px 0px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-iconbar .rs-menu-wrap ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-iconbar .rs-menu-wrap ul .tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0 0 0 / 80%);
    padding: 6px;
    border-radius: 8px;
    transition: .2s ease-in-out;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-iconbar .rs-menu-wrap ul .tooltip .tooltiptext {display: none;}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-iconbar .rs-menu-wrap ul .tooltip:hover {
    background-color: #f7f7f7;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .textbar-collapse-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .textbar-collapse-wrap button {
    display: flex;
    align-items: center;
    border: unset;
    background-color: transparent;
    margin: 0px 0px 30px;
    width: 100%;
    color: black;
    gap: 4px;
    font-size: 14px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .textbar-collapse-wrap button svg {
    height: auto;
    width: 15px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap .heading-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap .menu-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap .heading-wrap span {
    display: block;
    color: rgb(0 0 0 / 50%);
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 10px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap .menu-wrap ul {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap .menu-wrap ul a {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 8px;
    color: black;
    font-size: 15px;
    font-weight: 300;
    background-color: #f7f7f7;
    border-radius: 12px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .projects-wrap .menu-wrap ul a span {
    background-color: #ebebec;
    padding: 4px;
    border-radius: 6px;
    font-size: 12px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .logo-wrap {
    margin: 0px 0px 14px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .remaining-credits {margin: 0px 0px 14px;}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .package-update {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .logo-wrap a {
    color: rgb(0 0 0 / 80%);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 6px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .logo-wrap a svg {
    margin: -5px 0px 0px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .remaining-credits .count-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0 0 0 / 50%);
    font-size: 13px;
    font-weight: 400;
    margin: 0px 0px 10px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .remaining-credits .bar-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .remaining-credits .bar-wrap .bar {
    width: 100%;
    height: 5px;
    overflow: hidden;
    border-radius: 100px;
    background-color: #f7f7f7;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .remaining-credits .bar-wrap .bar .bar-progress {
    background-image: linear-gradient(269.81deg, #9A1EF6 -31.58%, #3477F7 2.6%, #6EEE4E 34.21%, #FDF050 66.68%, #EF8633 100.86%, #EA3524 132.48%);
    width: 78%;
    height: 100%;
    border-radius: 100px;
}

.rs-workspace-wrap .rs-grid2 .rs-sidebar .rs-textbar .rs-menu-wrap .package-update a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 100%;
    background-color: #f5c34a;
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 0px;
    border-radius: 100px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea {
    display: flex;
    flex-direction: column;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar {
    background-color: #ebebec;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 52px;
    padding: 0px 20px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .col {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 button {
    background-color: transparent;
    border: 1px solid transparent;
    color: #666666;
    padding: 4px;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 8px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left {}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .sidebar-collapse {}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .sidebar-collapse button {
    display: flex;
    align-items: center;
    color: #666666;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .sidebar-collapse button span {
    display: none;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .sidebar-collapse button svg {
    height: auto;
    width: 18px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .app-navigation {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .app-navigation button {display: flex;align-items: center;}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .app-navigation button svg {
    height: auto;
    width: 16px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .workspace {}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .workspace button {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-left .workspace button svg {
    height: auto;
    width: 16px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-center {}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-center .btn-wrap {
    display: flex;
    gap: 8px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 button:hover {
    background-color: #f7f7f7;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-center .btn-wrap button {
    display: flex;
    align-items: center;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-right {}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-right .share-btn-wrap {}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-right .share-btn-wrap button {
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-right .btn-wrap {
    display: flex;
    gap: 8px;
    align-items: center;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-right .btn-wrap button {
    display: flex;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-center .btn-wrap button svg {
    height: auto;
    width: 18px;
}

.rs-workspace-wrap .rs-grid2 .rs-mainarea .mainarea-topbar .grid3 .rs-col-right .btn-wrap button svg {
    height: auto;
    width: 18px;
}

.project-area-wrap {
    background: linear-gradient(315deg, #b3decb 0%, #ddb3c6 100%);
    width: 100%;
    height: calc(100vh - 52px);
    padding: 30px;
    overflow-y: auto;
}

.project-area-wrap .cantainer {width: 100%;height: 100%;}

.project-area-wrap .project-area {padding: 50px 100px;background-color: #f7f7f7;width: 100%;min-height: 100%;border-radius: 20px;}

.project-area-wrap .project-area .getting-started {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 0px 0px 35px;
}

.project-area-wrap .project-area .getting-started .icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
    padding: 12px;
    border-radius: 22px;
    transition: .2s ease-in-out;
}

.project-area-wrap .project-area .getting-started .icon-wrap span {
    font-size: 26px;
    line-height: normal;
}

.project-area-wrap .project-area .getting-started .icon-wrap:hover {
    transform: scale(1.1);
}

.project-area-wrap .project-area .getting-started .detail-wrap {width: 100%;}

.project-area-wrap .project-area .getting-started .detail-wrap .heading-wrap {}

.project-area-wrap .project-area .getting-started .detail-wrap .tag-wrap {
    display: flex;
    gap: 8px;
}

.project-area-wrap .project-area .getting-started .detail-wrap .heading-wrap span {
    display: block;
    font-size: 22px;
    color: rgb(0 0 0 / 70%);
    margin: 0px 0px 6px;
}

.project-area-wrap .project-area .getting-started .detail-wrap .tag-wrap .tag {
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 100px;
    padding: 0px 12px;
    gap: 5px;
}

.project-area-wrap .project-area .getting-started .detail-wrap .tag-wrap .tag span {
    font-size: 12px;
}

.project-area-wrap .project-area .getting-started .detail-wrap .tag-wrap .tag svg {
    height: auto;
    width: 14px;
    margin: 1px 0px 0px;
}

.project-area-wrap .project-area .dissertation-generator {
    margin: 0px 0px 35px;
}

.project-area-wrap .project-area .dissertation-generator .heading-wrap {}

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 0px 35px;
}

.project-area-wrap .project-area .dissertation-generator .heading-sm-wrap {}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap {
    display: none;
}

.project-area-wrap .project-area .dissertation-generator .heading-wrap span {
    display: block;
    font-size: 22px;
    color: rgb(0 0 0 / 70%);
    margin: 0px 0px 14px;
}

/* .project-area-wrap .project-area .dissertation-generator .generator-input-wrap textarea {
    padding: 14px 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid lightgray;
    min-height: 100px;
} */

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap input {
    padding: 14px 10px;
    font-size: 14px;
    width: 100%;
    border-radius: 0px;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    min-height: 50px;
}

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap input:focus {
    outline: none;
}

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .btn-wrap {
    display: none;
}

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .input-wrap {width: 100%;}

.project-area-wrap .project-area .dissertation-generator .heading-sm-wrap span {
    display: block;
    font-size: 22px;
    color: rgb(0 0 0 / 70%);
    margin: 0px 0px 14px;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .generated-result {
    display: flex;
    align-items: flex-start;
    margin: 0px 0px 14px;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .btn-wrap {}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .btn-wrap button {
    background-color: #3669ec;
    color: white;
    border: 1px solid transparent;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .btn-wrap button svg {
    height: auto;
    width: 14px;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .btn-wrap button span {
    font-size: 15px;
    font-weight: 400;
}

.project-area-wrap .project-area .dissertation-generator details {}

.project-area-wrap .project-area .dissertation-generator details .instructions-wrap {
    margin: 20px 0px 0px;
}

.project-area-wrap .project-area .dissertation-generator details summary {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.project-area-wrap .project-area .dissertation-generator details summary .icon {
    display: flex;
    align-items: flex-end;
}

.project-area-wrap .project-area .dissertation-generator details summary span {
    font-size: 22px;
    font-weight: 600;
    color: black;
    border-bottom: 3px solid #f5c34a;
}

.project-area-wrap .project-area .dissertation-generator details .instructions-wrap ol {
    padding: 0px 0px 0px 55px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.project-area-wrap .project-area .dissertation-generator details .instructions-wrap ol li {
    padding: 0px 0px 0px 8px;
    font-size: 17px;
}

.project-area-wrap .project-area .dissertation-generator details .instructions-wrap ol li span {
    font-weight: 700;
}
.project-area-wrap .project-area .dissertation-generator details summary .icon svg {
    height: auto;
    width: 25px;
    transition: .2s ease-in-out;
}
.project-area-wrap .project-area .dissertation-generator details[open] summary .icon svg {
    transform: rotate(90deg);
}
.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .image-wrap {
    display: flex;
}

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap img {
    background-color: #ebebec;
    padding: 5px;
    border-radius: 100px;
    width: 35px;
    height: 35px;
}

.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .btn-wrap button {
    padding: 12px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#3669ec;
    color: white;
    border: 1px solid #3669ec;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.project-area-wrap .project-area .dissertation-generator .generator-input-wrap input::placeholder {
    font-size: 16px;
    color: black;
}
.project-area-wrap .project-area .dissertation-generator .generator-input-wrap:has( .input-wrap input:focus) .btn-wrap {
    display: block;
}
.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .btn-wrap button svg {
    height: auto;
    width: 20px;
}
.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .btn-wrap:focus, 
.project-area-wrap .project-area .dissertation-generator .generator-input-wrap .btn-wrap:hover {
    display: block;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .generated-result .our-logo {
    background-color: #ebebec;
    padding: 5px;
    border-radius: 100px;
    width: 35px;
    height: 35px;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .generated-result .our-logo svg {
    width: 25px;
    height: 22px;
    color: #999999;
}

.project-area-wrap .project-area .dissertation-generator .generated-result-wrap .generated-result .generated-text {
    min-height: 50px;
    width: 100%;
    padding: 0px 0px 0px 10px;
}
